head
    // Global site tag (gtag.js) - Google Analytics
    script(async src='https://www.googletagmanager.com/gtag/js?id=G-Y5B1YHZC7N')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-Y5B1YHZC7N');

    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    meta(name='description' content='')

    title Netvance

    link(rel='stylesheet' href='css/main.css')