.container
  display: flex
.img
  flex: 1 0 900px
  height: 912px
  background: url("../img/plane-image.png") no-repeat
  position: relative
  .logo
    position: absolute
    top: 52px
    left: 55px
    box-shadow: 0 0 11px 5px rgba(255, 255, 255, 0.65)
  span
    position: absolute
    bottom: 0
    left: 82px
    font-size: 27px
    display: inline-block
    padding: 22px 50px
    background-color: #9D43B6
    border-radius: 20px 20px 0 0
.info
  flex: 1 0 543px
  background-color: #2E327A
  padding: 150px 117px 124px 76px
  h1
    font-size: 52px
    font-weight: 700
    line-height: 57.1px
    margin-bottom: 41px
  h3
    font-size: 30px
    line-height: 35.9px
    margin-bottom: 40px
  p
    font-size: 18px
    line-height: 25.74px
    margin-bottom: 31px
  p:last-of-type
    margin-bottom: 7px
  a
    color: #53BAD8
    font-size: 25px